# Variadic Function

In [4]:
def add(x,y):
     '''
    Inputs: Takes 2 inputs x and y
    Outputs: Returns one output that contains sum of x and y
    '''
     add_2=x+y
     return add_2

op_xy = add(23,67)
print(f"Output of add function is {op_xy}")

Output of add function is 90

# use it for multiple arguments

In [5]:
def add(*args):
    s=0
    for i in args:
        s=s+i
    return s

In [6]:
sum_args=add(23,45,67,43)
print(sum_args)

178

In [7]:
sum_a1=add(25)
print(sum_a1)

25

In [8]:
def multiply(x,*args):
    p=1
    for i in args:
        p=p*i
    return f"product of {x} is {p}"

In [9]:
m1=multiply("Kanchan",2,3,4,10)
m1

'product of Kanchan is 240'

In [10]:
def multiply(x,*args):
    p=1
    for i in args:
        p=p*i
    welcome=f"Welcome {x}"
    return f"{welcome}:product of provided data is {p}"

In [ ]:
m2= multiply("Kanchan",2,3,4,10)
m2

'Welcome Kanchan:product of provided data is 240'

## Scenario: I have lists of data ready with me. I want to add a value to each list(append)
    emp_data_1 = [101,"Raman"]
    emp_data_2 = [102,"Suman"]

    These 2 employees are working for "IT" department.
    Write a Function that takes lists as input and appends department details to both the lists

In [14]:
def appenddata(dept,*lists):
    '''
     Takes multiple lists as inputs and appends dept data to each list
    '''
    for l in lists:
        l.append(dept)

In [15]:
emp_data_1=[101,"Raman"]
emp_data_2=[102,"Thaman"]

In [16]:
appenddata("IT",emp_data_1,emp_data_2)

### Keyword arguments

In [17]:
def func1(**kwargs):
    print(type(kwargs))

In [18]:
func1(id=101)

<class 'dict'>

In [19]:
dct={
    "id":101
}

In [20]:
type(dct)

dict

In [21]:
dct.keys()

dict_keys(['id'])

In [22]:
dct.values()

dict_values([101])

In [23]:
dct.items()

dict_items([('id', 101)])

In [27]:
def func1(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [28]:
func1(id=101,name="Raman",salary=35000)

<class 'dict'>
dict_items([('id', 101), ('name', 'Raman'), ('salary', 35000)])

In [29]:
func1(id=202,name="Suman")

<class 'dict'>
dict_items([('id', 202), ('name', 'Suman')])

In [30]:
emp_data_1

[101, 'Raman', 'IT']

In [31]:
emp_data_2

[102, 'Thaman', 'IT']

In [32]:
emp_data_3=[103,"Suman","HR",35000,"Suman@gmail.com"]

In [33]:
def data_lengths(**kwargs):
    dct={}
    for key,value in kwargs.items():
        dct[key]=len(value)
        # **kwargs: emp1=emp_data_1,emp2=emp_data_2,emp3=emp_data_3
        #1 key=emp1,value=emp_data_1
        # dct[emp1]=len(emp_data_1)
        # this process will repeat 3times
    return dct # dct[emp1]=3,dct[emp2]=3,dct[emp3]=5 
    # {emp1:3,emp2:3,emp3:5}

In [34]:
len_data=data_lengths(emp1=emp_data_1,emp2=emp_data_2,emp3=emp_data_3)
len_data

{'emp1': 3, 'emp2': 3, 'emp3': 5}

In [35]:

# If you are providing args and kwargs together, you must give args first 
def count_args(*args,**kwargs):
    return(len(args),len(kwargs))

In [36]:
count_args(1,2,3,name="Baman")

(3, 1)

In [37]:
count_args(1,4,10,name="Baman",id=102,email="baman@gmail.com")

(3, 3)