## Variadic Function in python

In [3]:
def add(a:int|float,b:int|float)->int|float:
    c=a+b
    return c

In [4]:
# arguments input
add(3,4)

7

In [5]:
add(4.5,2)

6.5

In [12]:
# Keyword arguments in python
add(a=23, b=11)

34

In [13]:
add(a=11.5,b=12.3)

23.8

 ### Try to add 3 numbers with above code

In [14]:
add(1,2,3)

TypeError: add() takes 2 positional arguments but 3 were given


## Create args inside function
    *args - this will act like a tuple in python

In [15]:
def function1(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [17]:
function1(3,4)

(3, 4)
<class 'tuple'>
3
4

In [18]:
function1("Kanchan",28,"Data scientist","B+ve")

('Kanchan', 28, 'Data scientist', 'B+ve')
<class 'tuple'>
Kanchan
28
Data scientist
B+ve

In [19]:
a=["example",True,False,12.5,11.2,13]
type(a)

list

### Upack a list using *list_name

In [20]:
function1(*a)

('example', True, False, 12.5, 11.2, 13)
<class 'tuple'>
example
True
False
12.5
11.2
13

## Given the cart products of a customer perform total billing of products

In [7]:
c1=[
    ("Laptop",65000,1),
    ("Mouse",1500,2),
    ("Keyboard",2000,1)
]

In [8]:
def billing(*args):
    # Initialize total bill to 0
    total_bill=0

    # apply for loop as arguments
    for name, price, qty in args:
        subtotal=price*qty
        total_bill= total_bill +subtotal
        print(f"Name:{name},Price:{price},Quantity:{qty}")
        print(f"Subtotal: {subtotal} INR")
        print("\n======================\n")

# Print and return total bill
    print(f"Total Bill : {total_bill:.2f} INR")
    return total_bill

In [9]:
c1

[('Laptop', 65000, 1), ('Mouse', 1500, 2), ('Keyboard', 2000, 1)]

In [10]:
t1=billing(*c1)

Name:Laptop,Price:65000,Quantity:1
Subtotal: 65000 INR

======================

Name:Mouse,Price:1500,Quantity:2
Subtotal: 3000 INR

======================

Name:Keyboard,Price:2000,Quantity:1
Subtotal: 2000 INR

======================

Total Bill : 70000.00 INR

In [11]:
t2=billing(
    ("Mobile", 30000, 2),
    ("Screen Guard", 200, 4),
    ("Headphones", 2000, 1),
    ("Phone cover", 400, 2)
)

Name:Mobile,Price:30000,Quantity:2
Subtotal: 60000 INR

======================

Name:Screen Guard,Price:200,Quantity:4
Subtotal: 800 INR

======================

Name:Headphones,Price:2000,Quantity:1
Subtotal: 2000 INR

======================

Name:Phone cover,Price:400,Quantity:2
Subtotal: 800 INR

======================

Total Bill : 63600.00 INR