## Inheritance

### Single Inheritance

In [1]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def introduce(self):
        print(f"Hi, I am {self.name} and I am {self.age} years old")

In [2]:
p1=person('raman',45)

In [3]:
p1.name

'raman'

In [4]:
p1.age

45

In [5]:
p1.introduce()

Hi, I am raman and I am 45 years old

In [7]:
class employee(person):
    pass

In [8]:
emp1 = employee('thaman',34)

In [9]:
emp1.name

'thaman'

In [10]:
emp1.age

34

In [12]:
emp1.introduce()

Hi, I am thaman and I am 34 years old

In [13]:
class employee(person):

    def __init__(self,company):
        self.company = company
    
    def work(self):
        print(f"Hi, I am working at {self.company}")

In [15]:
emp2=employee('wipro')

In [16]:
emp2.company

'wipro'

In [17]:
emp2.name

AttributeError: 'employee' object has no attribute 'name'

In [18]:
class employee(person):
    def __init__(self, name, age,company):
        super().__init__(name, age)
        self.company=company

    def work(self):
        super().introduce()
        print(f"Hi, I am working at {self.company}")

In [19]:
emp2=employee('suman',38,'accenture')

In [20]:
emp2.age

38

In [21]:
emp2.name

'suman'

In [22]:
emp2.introduce()

Hi, I am suman and I am 38 years old

In [23]:
emp2.company

'accenture'

In [24]:
emp2.work()

Hi, I am suman and I am 38 years old
Hi, I am working at accenture