## Class
    when functions are defined inside of a class, we refer them as a method
    Attributes: the inputs/parameters we provide inside of a class/__init__ constructors

In [1]:
path=r"C:\Users\dell\Documents\Datasets\50_Startups.csv"

In [2]:
import pandas as pd
df=pd.read_csv(path)
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [3]:
df.shape

(50, 5)

In [4]:
df.shape

(50, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [6]:
def function_name(parameters):
    x=parameters+100
    return x


## Create a class person and define its attributes and methods

In [7]:
class person:
   ## Define instance attributes
   def __init__(self,name,age,occupation,stay):
    self.name=name
    self.age=age
    self.occupation = occupation
    self.stay=stay

   def talk(self):
      print(f"Hi, I am {self.name} and I am {self.age} years old")
      print(f"I live in {self.stay}")
      print(f"I work at {self.occupation}")

   def work(self,n):
      print(f"I am currently working at {self.occupation}.")
      print(f"It's been {n} years since am working at this company.")

In [8]:
p1 = person(name='Raman',age=34,occupation='Data Analyst',stay='Pune')

In [9]:
p1.age

34

In [10]:
p1.name

'Raman'

In [11]:
p1.occupation

'Data Analyst'

In [12]:
p1.stay

'Pune'

In [13]:
p1.talk()

Hi, I am Raman and I am 34 years old
I live in Pune
I work at Data Analyst

In [14]:
p1.work(3)

I am currently working at Data Analyst.
It's been 3 years since am working at this company.

### 
Create a class bank that contains attributes like bank accountnumber,name,balance.Define different methods like withdrawal,deposit,transfer

In [18]:
class etl_bank:
     # define the instance attributes
     def __init__(self,account_number,account_name,balance):
          self.account_number = account_number
          self.account_name=account_name
          self.balance=balance

    # Create a method that performs withdrawal action
     def withdrawal(self,amount):
      if amount < self.balance:
          self.balance=self.balance-amount
      return  f"Amount Withdrawan is {amount}. Your updated balance is {self.balance}"
    
    # Create a method that deposits the amount provided by user 
     def deposit(self,deposit_amount):
          self.balance = self.balance + deposit_amount
          return f"Amount Deposited is {deposit_amount}. Your updated balance is {self.balance}"
    
   # Create a method that transfers the amount provided by user to another acc
     def transfer(self,transfer_amount,acc_no):
        self.balance = self.balance - transfer_amount
        return f"Amount being transferred is {transfer_amount}. Your updated balance is {self.balance}. Amount transferred to {acc_no}"

In [19]:
cust1=etl_bank(234223412,'Thaman',90000)

In [20]:

cust1.balance

90000

In [21]:

cust1.account_name

'Thaman'

In [22]:
cust1.account_number

234223412

In [23]:
cust1.withdrawal(5000)

'Amount Withdrawan is 5000. Your updated balance is 85000'

In [24]:
cust1.deposit(10000)

'Amount Deposited is 10000. Your updated balance is 95000'

In [25]:

cust1.transfer(8000,89567356)

'Amount being transferred is 8000. Your updated balance is 87000. Amount transferred to 89567356'

In [26]:
cust2 = etl_bank(9876980,'suman',34543)

In [27]:

cust2.account_name

'suman'

In [28]:

cust1.account_name

'Thaman'

## Class Attributes

In [29]:
class student_preprimary:
     # define the class attributes
    sectiona=40
    sectionb=38
    class_teacher_a="Priya" 
    class_teacher_b="Riya"

    def welcome():
        print(f"welcome to this class")

In [30]:

student1 = student_preprimary()
student2 = student_preprimary()

In [31]:
student1.class_teacher_a

'Priya'

In [32]:
student2.class_teacher_a

'Priya'

In [33]:

student_preprimary.class_teacher_a

'Priya'

In [34]:

student_preprimary.class_teacher_b

'Riya'

In [35]:
class student_preprimary:
    # define the class attributes
    sectiona = 40
    sectionb = 38
    class_teacher_a = "Priya"
    class_teacher_b = "Riya"

    @classmethod
    def welcome(cls):
        print(f"Welcome to this school.We have 2 sections {cls.sectiona} and {cls.sectionb}")

In [36]:
student3 = student_preprimary()

In [37]:
student3.sectiona

40

In [38]:
student3.welcome()

Welcome to this school.We have 2 sections 40 and 38

In [39]:
class cars:
    # define a class attribute
    greeting = "Welcome to our showroom. Please explore our car models"

    # define instance attributes
    def __init__(self,manufacturer,price):
        self.manufacturer = manufacturer
        self.price = price

    # write a method that takes the input from user and displays different models present
    def hyundai_model_info(self):
        return "We sell different models for this manufacturer like Grand i20, Grand i10"
    
    def maruti_model_info(self):
        return "We sell different models for this manufacturer like Nexa Baleno, Swift"
    
    @classmethod
    def welcome(cls):
        print(cls.greeting)

In [40]:
enquiry1 = cars('Hyundai',1500000)

In [41]:

cars.greeting

'Welcome to our showroom. Please explore our car models'

In [42]:

enquiry1.greeting

'Welcome to our showroom. Please explore our car models'

In [43]:

enquiry1.manufacturer

'Hyundai'

In [44]:

enquiry1.price

1500000

In [45]:

enquiry1.hyundai_model_info()

'We sell different models for this manufacturer like Grand i20, Grand i10'

In [46]:
enquiry1.maruti_model_info()

'We sell different models for this manufacturer like Nexa Baleno, Swift'

In [47]:

enquiry2 = cars('maruti',1100000)

In [48]:
enquiry2.greeting

'Welcome to our showroom. Please explore our car models'

In [49]:
enquiry2.welcome()

Welcome to our showroom. Please explore our car models

In [50]:
enquiry1.welcome()

Welcome to our showroom. Please explore our car models

In [51]:

enquiry1.manufacturer

'Hyundai'

In [52]:

enquiry2.manufacturer

'maruti'